DSS-Website/Connected Services/DSS_Service/DSSWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65458/DSSWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSS_Service" />
  <xs:import schemaLocation="http://localhost:65458/DSSWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetUserResult" nillable="true" type="q1:SVCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetUserByIDResult" nillable="true" type="q2:SVCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q3:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetProductsResult" nillable="true" type="q4:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q5:ArrayOfSVCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="SearchResult" nillable="true" type="q7:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="user" nillable="true" type="q8:SVCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="user" nillable="true" type="q9:SVCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="product" nillable="true" type="q10:SVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="product" nillable="true" type="q11:SVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetProductResult" nillable="true" type="q12:SVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostSellingProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostSellingProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="MostSellingProductResult" nillable="true" type="q13:SVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeastSellingProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoty" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeastSellingProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="LeastSellingProductResult" nillable="true" type="q14:SVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverallMostSellingProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OverallMostSellingProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="OverallMostSellingProductResult" nillable="true" type="q15:SVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverallLeastSellingProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OverallLeastSellingProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="OverallLeastSellingProductResult" nillable="true" type="q16:SVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTax">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTaxResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TAX" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTaxResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Transact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="user" nillable="true" type="q17:SVCUser" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="products" nillable="true" type="q18:ArrayOfSVCProduct" />
        <xs:element minOccurs="0" name="price" type="xs:float" />
        <xs:element minOccurs="0" name="paymentMethod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="delivery" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeUserPasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointsDiscount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointsDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPointsDiscountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetAllOrdersResult" nillable="true" type="q19:ArrayOfSVCOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetUserOrdersResult" nillable="true" type="q20:ArrayOfSVCOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetOrderItemsResult" nillable="true" type="q21:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryPerfomance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryPerfomanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCategoryPerfomanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorstBuyer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorstBuyerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetWorstBuyerResult" nillable="true" type="q22:SVCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestBuyer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestBuyerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetBestBuyerResult" nillable="true" type="q23:SVCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfSales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberOfSalesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesContribution">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesContributionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesContributionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevenuePerTransaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RevenuePerTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RevenuePerTransactionResult" nillable="true" type="q24:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevenue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRevenueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalOrdersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalUsersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopFiveSelling">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TopFiveSellingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="TopFiveSellingResult" nillable="true" type="q25:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortByPriceAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SortByPriceAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="SortByPriceAscResult" nillable="true" type="q26:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortByPriceADesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SortByPriceADescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="SortByPriceADescResult" nillable="true" type="q27:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortByNameAZ">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SortByNameAZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="SortByNameAZResult" nillable="true" type="q28:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortByNameZA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SortByNameZAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="SortByNameZAResult" nillable="true" type="q29:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AverageUsersPerDay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AverageUsersPerDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AverageUsersPerDayResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeframe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FilterOrdersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterRevenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeframe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterRevenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FilterRevenueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeframe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetFilteredOrdersResult" nillable="true" type="q30:ArrayOfSVCOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWishList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWishListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToWishListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserWishlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserWishlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetUserWishlistResult" nillable="true" type="q31:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopFiveMostWishedItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TopFiveMostWishedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="TopFiveMostWishedItemsResult" nillable="true" type="q32:ArrayOfSVCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProspectiveBuyers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProspectiveBuyersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DSS_Service" minOccurs="0" name="GetProspectiveBuyersResult" nillable="true" type="q33:ArrayOfSVCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>